.chat__container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat__header {
  width: 100%;

  display: flex;
  align-items: center;

  gap: 15px;

  padding: 10px 16px;

  background-color: #222e35;
}

.chat__header__profile-picture {
  width: 40px;
  height: 40px;
}

.chat__header__profile-picture img {
  width: 100%;
  height: 100%;

  border-radius: 50%;

  object-fit: cover;
}

.chat__header h2 {
  color: #e9edef;
  font-size: 1.6rem;
}

.chat__footer {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
  background-color: #222e35;
}

.chat__footer input {
  all: unset;

  width: 92%;

  padding: 8px 0;
  border-radius: 5px;

  padding-left: 15px;

  font-size: 1.6rem;

  border: 1px solid #555555;
  border-radius: 5px;

  border: 1px solid #2a3842;
  background-color: #2a3942;
  color: #e9edefe0;
}

.chat__footer input::placeholder {
  color: #8696a0;
}

.chat__footer button {
  all: unset;
  cursor: pointer;
}
