.home {
  width: 100vw;
  height: 100vh;

  display: flex;

  background-color: #111b21;

  overflow-y: hidden;
}

.home__left {
  width: 30%;
}

.side-bar__contacts {
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

.side-bar__contacts::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.side-bar__contacts::-webkit-scrollbar-track {
  background-color: #111b21;
}

.side-bar__contacts::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .1);
}

.side-bar__profile {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 16px;

  background-color: #222E35;
}

.side-bar__profile-picture {
  width: 40px;
  height: 40px;
}

.side-bar__profile-picture img {
  width: 100%;
  height: 100%;

  border-radius: 50%;

  object-fit: cover;
}

.side-bar__profile-more-btn {
  cursor: pointer;

  position: relative;

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar__profile-more-btn img {
  width: 24px;
  height: 24px;
}

.home__right {
  width: 70%;
  border-left: 1px solid rgba(134,150,160,0.4);
  
  background-color: #111b21;
}
