.sign-in {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #111B21;

  font-family: var(--fs-rubik);
}

.sign-in__main {
  position: relative;

  padding: 48px 32px;

  border-radius: 8px;
  border: 1px solid #555555;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #202C33;
}

.sign-in__main h2 {
  font-weight: 500;
  font-size: 2.8rem;

  align-self: center;
  margin-bottom: 12px;
  color: #00A884;
}

.sign-in__main form {
  display: flex;
  flex-direction: column;

  gap: 16px;
  margin-bottom: 20px;
}

.sign-in__main form label {
  font-weight: 400;
  font-size: 1.8rem;

  color: #E9EDEFE0;
}

.sign-in__main form input {
  all: unset;

  width: 300px;

  padding: 12px 0;
  border-radius: 5px;

  padding-left: 15px;

  font-size: 1.6rem;

  border: 1px solid #555555;
  border-radius: 5px;

  background-color: #111B21;
  color: #E9EDEFE0;
}

.sign-in__main form button {
  all: unset;

  cursor: pointer;

  padding: 17px 0;
  border-radius: 5px;

  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;

  border: none;

  background-color: #00A884;
  color: #ffffff;
  opacity: 1;
}

.sign-in__main form button:hover {
  opacity: 0.9;
}

.link-to-sign-up {
  padding-top: 10px;

  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;

  color: #00A884;
}

.sign-in__error-message {
  max-width: 300px;
  text-align: center;
  font-size: 1.6rem;

  color: #ff0000;
}
