.chat__body {
  max-height: calc(100vh - 120px);
  min-height: calc(100vh - 120px);

  overflow-y: scroll !important;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  display: flex;
  flex-direction: column;

  gap: 10px;

  padding: 20px 50px 8px 70px;
}

.chat__body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.chat__body::-webkit-scrollbar-track {
  background-color: #111b21;
}

.chat__body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .1);
}

.message {
  max-width: 45%;

  margin-bottom: 8px;
  padding: 3px 7px 6px 9px;
  border-radius: 7.5px;

  background-color: #FFFFFF;
}

#you {
  align-self: end;
  background-color: #005C4B;
}

#other {
  align-self: start;
  background-color: #202C33;
}

.message__container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.message__content {
  max-width: 90%;
  overflow-wrap: break-word;
  font-size: 1.4rem;
  color: #E9EDEF;
}

.message__timestamp {
  padding-top: 12px;
  align-self: end;

  font-size: 1.1rem;
  color: hsla(0, 0%, 100%, 0.6);
}
