.contact {
  cursor: pointer;

  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;

  padding: 0 15px 0 13px;
  border-bottom: 1px solid rgb(134, 150, 160, 0.15);
}

.contact--selected {
  background-color: #2a3942;
}

.contact__img-container {
  width: 50px;
  min-width: 50px;
  height: 50px;
}

.contact__img-container img {
  width: 100%;
  height: 100%;

  border-radius: 50%;

  object-fit: cover;
}

.contact__info {
  width: 100%;
  max-width: calc(100% - 63px);
  margin-left: 15px;

  display: flex;
  justify-content: space-between;

  gap: 5px;
}

.contact__info-left, .contact__info-right {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.contact__info-left {
  max-width: 80%;
}

.contact__info-left span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  margin-right: 40px;
}

.info-left__name {
  color: #e9edef;
  font-size: 1.7rem;
}

.info-left__last-message {
  text-align: left;
  font-size: 1.4rem;

  color: #8696a0;
}

.contact__info-right {
  max-width: 20%;

  text-align: right;
}

.info-right__last-message-time {
  font-size: 1.2rem;
  color: #8696a0;
}

.info-right__unread-messages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-right__unread-messages  {
  height: 20px;
  
  padding: 3.6px 4.8px 4.8px;
  
  font-size: 1.2rem;

  border-radius: 15px;

  color: #111B21;
  background-color: #00A884;
}